body,
html {
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

a,
a * {
  cursor: pointer;
}

a {
  color: #000;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  border: 0 none;
  /*image-rendering: optimizeQuality;*/
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
