/* 歌手列表 css */
.singer_list_txt {
  margin-right: -20px;
  overflow: hidden;
  margin-bottom: 60px;
}

.singer_list_txt__item {
  float: left;
  width: 20%;
}

.singer_list_txt__link {
  float: left;
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 36px;
}

/* 伸缩按钮 */
.mod_slide_action {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slide_action {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
}
.slide_action__btn {
  position: absolute;
  top: 50%;
  margin-top: -54px;
  width: 79px;
  height: 108px;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#14000000', endColorstr='#14000000');
  background: url(#);
  background: rgba(0, 0, 0, 0.05);
  opacity: 0;
  visibility: none;
  transition-property: opacity, transform;
  transition-duration: 0.5s;
  z-index: 2;
}
.slide_action__btn--left {
  transform: translateX(-100%);
}
.slide_action__btn--right {
  transform: translateX(100%);
}
.mod_slide_box:hover .slide_action__btn {
  opacity: 1;
  visibility: none;
  transform: translateX(0);
  transition-property: opacity, transform, background, width;
  transition-duration: 0.5s;
}
.slide_action--left,
.slide_action__btn--left {
  left: 0;
}
.slide_action--right,
.slide_action__btn--right {
  right: 0;
}
.slide_action__arrow {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  width: 20px;
  height: 39px;
}
.slide_action__arrow--left {
  left: 29px;
  background-position: -20px -120px;
}
.slide_action__arrow--right {
  right: 29px;
  background-position: 0 -120px;
}
.slide_action__btn:hover {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#19000000', endColorstr='#19000000');
  background: url(#);
  background: rgba(0, 0, 0, 0.1);
}
.icon_txt {
  font: 0/0 a;
}

/* mv 顶头标题 css */
.mod_part,
.mod_part_detail {
  position: relative;
  margin-bottom: 30px;
}

.part__hd,
.part_detail__hd {
  overflow: hidden;
  height: 60px;
}
.part__tit,
.part_detail__tit {
  float: left;
  font-size: 24px;
  font-weight: 400;
  line-height: 58px;
}

/* mv 切换按钮 css */
.part_switch {
  position: absolute;
  top: 7px;
  right: 0;
  height: 40px;
  line-height: 40px;
  border-radius: 2px;
  font-size: 0;
}
.part_switch__item {
  display: inline-block;
  padding: 0 16px;
  height: 38px;
  position: relative;
  font-size: 14px;
  border-width: 1px;
  border-style: solid;
}
.part_switch__item--left {
  right: -1px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-color: #c9c9c9;
}
.part_switch__item--right {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-color: #c9c9c9;
}
.part_switch__item--select,
.part_switch__item--select:hover {
  background-color: #31c27c;
  color: #fff;
  border-color: #31c27c;
  z-index: 2;
}
.part_switch__item {
  position: relative;
  display: inline-block;
  padding: 0 16px;
  height: 38px;
  position: relative;
  font-size: 14px;
  border-width: 1px;
  border-style: solid;
}

/* MV 列表 css */
.mv_list__list {
  margin-right: -20px;
  zoom: 1;
}
.mv_list__item {
  float: left;
  width: 25%;
  padding-bottom: 44px;
  overflow: hidden;
}
.mv_list__item_box {
  position: relative;
  margin-right: 20px;
}
.mv_list__cover {
  position: relative;
  display: block;
  overflow: hidden;
  padding-top: 56.5476%;
  margin-bottom: 15px;
}
.mv_list__pic {
  transform: scale(1);
  transition: transform 0.75s;
}
.mv_list__pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.mv_list__desc,
.mv_list__singer,
.mv_list__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mv_list__title {
  font-weight: 400;
  zoom: 1;
}
.mv_list__desc,
.mv_list__info,
.mv_list__singer,
.mv_list__singer a {
  color: #999;
}
.mv_list__singer {
  height: 24px;
  line-height: 1.5;
}
.mv_list__desc,
.mv_list__singer,
.mv_list__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  line-height: 1.5;
  font-family: poppin, Tahoma, Arial, 微软雅黑, sans-serif;
}
.mv_list__desc,
.mv_list__info,
.mv_list__singer,
.mv_list__singer a {
  color: #999;
}
.mv_list__info {
  line-height: 18px;
  height: 20px;
}
.mv_list__listen {
  margin-right: 10px;
}
.mv_list__listen_icon {
  display: inline-block;
  width: 19px;
  height: 12px;
  background-position: -180px -20px;
  margin-right: 5px;
  vertical-align: -1px;
}

/* 图标背景 */
.sprite,
.sprite_before::before {
  background-image: url(https://y.gtimg.cn/mediastyle/yqq/img/icon_sprite.png?max_age=2592000&v=85678e8f28c7b4bcad5c209b21b7e3b3);
}
