$green: #31c27c;
$deepgreen: #2caf6f;
$white: #fff;
$black: #000;

.main {
  z-index: 2;
  button,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  dd,
  p {
    margin: 0;
    padding: 0;
  }
}
.main,
.section_inner {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.mod_search {
  position: relative;
  height: 247px;
  background-position: 50%;
  background-size: cover;
}
.mod_btn {
  border: 1px solid #c9c9c9;
  color: $black;
}
.mod_btn_green {
  border: 1px solid $green;
  background-color: $green;
  color: $white;
}
.mod_btn_green:hover {
  background-color: $deepgreen;
  border-color: $deepgreen;
  color: $white;
}
.mod_btn,
.mod_btn_green {
  border-radius: 2px;
  font-size: 14px;
  margin-right: 6px;
  padding: 0 23px;
  height: 38px;
  line-height: 38px;
  display: inline-block;
  white-space: nowrap;
  box-sizing: border-box;
  overflow: hidden;
}
.mod_btn__icon_play {
  width: 13px;
  height: 16px;
  background-position: -60px -220px;
}
.mod_btn_green__icon_play {
  width: 13px;
  height: 16px;
  background-position: -80px -220px;
  vertical-align: -3px;
}
.mod_btn__icon_like {
  width: 16px;
  height: 16px;
  background-position: -60px 0;
  vertical-align: -4px;
}
.mod_btn__icon_comment {
  width: 16px;
  height: 16px;
  background-position: -140px -120px;
  vertical-align: -3px;
}
.mod_btn__icon_menu {
  width: 16px;
  height: 16px;
  background-position: -20px -80px;
}
.mod_btn__icon_more {
  width: 16px;
  height: 16px;
  background-position: -40px -80px;
  vertical-align: -2px;
}
.mod_btn__icon_add {
  width: 16px;
  height: 16px;
  background-position: -20px 0;
}
.mod_btn__icon_down {
  width: 16px;
  height: 16px;
  background-position: -40px -220px;
}
.mod_btn__icon_batch {
  width: 16px;
  height: 16px;
  background-position: -120px 0;
}
.mod_btn__icon_new {
  width: 16px;
  height: 16px;
  background-position: 0 -180px;
}
.mod_btn__icon_copy {
  width: 16px;
  height: 14px;
  background-position: -40px -100px;
  vertical-align: -2px;
}
.mod_btn__icon_add,
.mod_btn__icon_batch,
.mod_btn__icon_comment,
.mod_btn__icon_copy,
.mod_btn__icon_delete,
.mod_btn__icon_down,
.mod_btn__icon_edit,
.mod_btn__icon_input,
.mod_btn__icon_less,
.mod_btn__icon_like,
.mod_btn__icon_manage,
.mod_btn__icon_menu,
.mod_btn__icon_more,
.mod_btn__icon_new,
.mod_btn__icon_no,
.mod_btn__icon_play,
.mod_btn__icon_qr,
.mod_btn__icon_recovery,
.mod_btn__icon_upload,
.mod_btn__icon_yes,
.mod_btn_green__icon_add,
.mod_btn_green__icon_clear,
.mod_btn_green__icon_delete,
.mod_btn_green__icon_down,
.mod_btn_green__icon_like,
.mod_btn_green__icon_more,
.mod_btn_green__icon_play,
.mod_btn_green__icon_radio {
  display: inline-block;
  margin-right: 6px;
  background-image: url(../img/icon_sprite.png);
  background-repeat: no-repeat;
}

.mod_tab {
  position: relative;
  zoom: 1;
  border-bottom: 1px solid #f7f7f7;
  margin-bottom: 30px;
}
.mod_tab,
.mod_tab__item {
  height: 56px;
  line-height: 56px;
}
.mod_tab__current {
  color: $green;
}
.mod_tab__item {
  position: relative;
  float: left;
  font-size: 16px;
  overflow: hidden;
  margin-right: 55px;
}

.list_menu__item {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}
.list_menu__icon_add,
.list_menu__icon_delete,
.list_menu__icon_down,
.list_menu__icon_down_vip,
.list_menu__icon_edit,
.list_menu__icon_pause,
.list_menu__icon_play,
.list_menu__icon_share {
  display: block;
  width: 36px;
  height: 36px;
  background-image: url(../img/icon_list_menu.png);
}
.list_menu__icon_play {
  background-position: 0 0;
}
.list_menu__icon_pause {
  background-position: 0 -200px;
}
.list_menu__icon_share {
  background-position: 0 -40px;
}
.list_menu__icon_add {
  background-position: 0 -80px;
}
.list_menu__icon_down {
  background-position: 0 -120px;
}
.list_menu__icon_down_vip {
  background-position: 0 -280px;
}
.list_menu__icon_edit {
  background-position: 0 -240px;
}
.list_menu__icon_delete {
  background-position: 0 -160px;
}

.list_menu__item:hover {
  .list_menu__icon_play {
    background-position: -40px 0;
  }
  .list_menu__icon_pause {
    background-position: -40px -200px;
  }
  .list_menu__icon_share {
    background-position: -40px -40px;
  }
  .list_menu__icon_add {
    background-position: -40px -80px;
  }
  .list_menu__icon_down {
    background-position: -40px -120px;
  }
  .list_menu__icon_down_vip {
    background-position: -40px -280px;
  }
  .list_menu__icon_edit {
    background-position: -40px -240px;
  }
  .list_menu__icon_delete {
    background-position: -40px -160px;
  }
}

/* **********
 * 伸缩按钮 */
.mod_slide_action {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slide_action {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
}
.slide_action__btn {
  position: absolute;
  top: 50%;
  margin-top: -54px;
  width: 79px;
  height: 108px;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#14000000', endColorstr='#14000000');
  background: url(#);
  background: rgba(0, 0, 0, 0.05);
  opacity: 0;
  visibility: none;
  transition-property: opacity, transform;
  transition-duration: 0.5s;
  z-index: 2;
}
.slide_action__btn--left {
  transform: translateX(-100%);
}
.slide_action__btn--right {
  transform: translateX(100%);
}
.mod_slide_box:hover {
  .slide_action__btn {
    opacity: 1;
    visibility: none;
    transform: translateX(0);
    transition-property: opacity, transform, background, width;
    transition-duration: 0.5s;
  }
}
.slide_action--left,
.slide_action__btn--left {
  left: 0;
}
.slide_action--right,
.slide_action__btn--right {
  right: 0;
}
.slide_action__arrow {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  width: 20px;
  height: 39px;
}
.slide_action__arrow--left {
  left: 29px;
  background-position: -20px -120px;
}
.slide_action__arrow--right {
  right: 29px;
  background-position: 0 -120px;
}
.slide_action__btn:hover {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#19000000', endColorstr='#19000000');
  background: url(#);
  background: rgba(0, 0, 0, 0.1);
}

/* 超长滑动条（home）*/
.mod_slide {
  overflow: hidden;
  margin-bottom: 20px;
}
.slide__list {
  position: relative;
  font-size: 0;
  width: 1250%;
  transition-duration: 1s;
}
.slide__item {
  width: 2%;
}

/* 切换小圆点 */
.mod_slide_switch {
  width: 100%;
  text-align: center;
  font-size: 0;
}
.slide_switch__item {
  display: inline-block;
  width: 28px;
  height: 12px;
  padding: 0 0 26px;
  margin: 0 1px;
  background: 0 0;
}
.slide_switch__bg {
  display: block;
  width: 8px;
  height: 8px;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#19000000', endColorstr='#19000000');
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin: 0 auto;
}
.slide_switch__item--current .slide_switch__bg,
.slide_switch__item:hover .slide_switch__bg {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#4C000000', endColorstr='#4C000000');
  background-color: rgba(0, 0, 0, 0.3);
}

/*******************
 * mv 顶头标题 css */
.mod_part,
.mod_part_detail {
  position: relative;
  margin-bottom: 30px;
}

.part__hd,
.part_detail__hd {
  overflow: hidden;
  height: 60px;
}
.part__tit,
.part_detail__tit {
  float: left;
  font-size: 24px;
  font-weight: 400;
  line-height: 58px;
  font-family: 微软雅黑;
}
.part__more {
  position: absolute;
  top: 20px;
  right: 0;
  font-size: 14px;
}
/*commont*/
.part__tit_desc {
  font-size: 14px;
  margin-left: 12px;
}

/* *****************
 * mv 切换按钮 css */
.part_switch {
  position: absolute;
  top: 7px;
  right: 0;
  height: 40px;
  line-height: 40px;
  border-radius: 2px;
  font-size: 0;
}
.part_switch__item {
  display: inline-block;
  padding: 0 16px;
  height: 38px;
  position: relative;
  font-size: 14px;
  border-width: 1px;
  border-style: solid;
}
.part_switch__item--left {
  right: -1px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-color: #c9c9c9;
}
.part_switch__item--right {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-color: #c9c9c9;
}
.part_switch__item--select,
.part_switch__item--select:hover {
  background-color: $green;
  color: $white;
  border-color: $green;
  z-index: 2;
}
.part_switch__item {
  position: relative;
  display: inline-block;
  padding: 0 16px;
  height: 38px;
  position: relative;
  font-size: 14px;
  border-width: 1px;
  border-style: solid;
}

/* 分类歌单选中类型时 */
.part_tags {
  position: relative;
  float: left;
  line-height: 38px;
  margin: 8px 6px 0 0;
  padding: 0 25px 0 10px;
  border: 1px solid #c9c9c9;
  border-radius: 2px;
  font-size: 14px;
  .part_tags__delete:hover {
    background-color: rgba(225, 225, 225, 0.3);
    border-radius: 12px;
  }
}
.part_tags:hover {
  background-color: #37c27c;
  border-color: #37c27c;
  color: #fff;
  .part_tags__delete {
    background-position: -160px -80px;
  }
}
.part_tags__delete {
  position: absolute;
  top: 50%;
  right: 4px;
  margin-top: -8px;
  width: 16px;
  height: 16px;
  background-position: -160px -120px;
  overflow: hidden;
}

/* *************
 * MV 列表 css */
.mv_list__list {
  margin-right: -20px;
  zoom: 1;
}
.mv_list__item {
  float: left;
  width: 25%;
  padding-bottom: 44px;
  overflow: hidden;
}
.mv_list__item_box {
  position: relative;
  margin-right: 20px;
}
.mv_list__cover {
  position: relative;
  display: block;
  overflow: hidden;
  padding-top: 56.5476%;
  margin-bottom: 15px;
}
.mv_list__pic {
  transform: scale(1);
  transition: transform 0.75s;
}
.mv_list__pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.mv_list__desc,
.mv_list__singer,
.mv_list__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mv_list__title {
  font-weight: 400;
  zoom: 1;
}
.mv_list__desc,
.mv_list__info,
.mv_list__singer,
.mv_list__singer a {
  color: #999;
}
.mv_list__singer {
  height: 24px;
  line-height: 1.5;
}
.mv_list__desc,
.mv_list__singer,
.mv_list__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  line-height: 1.5;
  font-family: poppin, Tahoma, Arial, 微软雅黑, sans-serif;
}
.mv_list__desc,
.mv_list__info,
.mv_list__singer,
.mv_list__singer a {
  color: #999;
}
.mv_list__info {
  line-height: 18px;
  height: 20px;
}
.mv_list__listen {
  margin-right: 10px;
}
.mv_list__listen_icon {
  display: inline-block;
  width: 19px;
  height: 12px;
  background-position: -180px -20px;
  margin-right: 5px;
  vertical-align: -1px;
}

/* 图标背景 */
.sprite,
.sprite_before::before {
  background-image: url(../img/icon_sprite.png);
}

/*
 *
 *
 * 首页 top 榜 */
.toplist_main {
  margin: 0 auto;
  text-align: center;
  max-width: 1400px;
}
.toplist__list {
  font-size: 0;
  margin-right: -20px;
  color: $white;
  font-size: 14px;
}
.toplist__item {
  display: inline-block;
  width: 18%;
  .mod_cover__icon_play {
    top: 114px;
    margin-top: 0;
    margin-bottom: 0;
    z-index: 2;
  }
}
.toplist__box {
  position: relative;
  margin-right: 20px;
  height: 500px;
  overflow: hidden;
}

#toplist__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 600px;
}
.toplist__item .toplist__bg {
  transform: scale(1);
  transition: transform 0.75s;
}
.toplist__hd {
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  text-align: center;
  font-size: 100%;
  color: $black;
}
.toplist__hd::before {
  content: "";
  display: block;
  width: 66px;
  height: 22px;
  margin: 0 auto 9px;
}
.toplist__tit {
  height: 36px;
  line-height: 1;
  font-size: 26px;
  color: $white;
  font-weight: 400;
}
.toplist__line {
  position: absolute;
  left: 50%;
  top: 148px;
  margin-left: -18px;
  width: 36px;
  height: 2px;
  background: $white;
}

/*
 *
 *
 *
 *  Ranking page */

/*右边css*/
.toplist_nav {
  float: left;
  width: 178px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(153, 153, 153, 0.2);
}
.toplist_nav__list {
  margin-bottom: 20px;
}
.toplist_nav__tit {
  line-height: 60px;
  font-size: 20px;
  font-weight: 400;
  border-bottom: 1px solid #ebebeb;
  margin: 0 17px 10px;
  text-align: left;
}

.toplist_nav__link {
  font-size: 15px;
  display: block;
  line-height: 22px;
  padding: 8px 17px;
  text-align: left;
}
.toplist_nav__link--current,
.toplist_nav__link--current:hover {
  background-color: $green;
  color: $white;
}

/*左上*/
.mod_toplist {
  position: relative;
  margin-left: 210px;
  text-align: left;
}
.toplist__hd_rk {
  line-height: 64px;
  height: 64px;
  margin-bottom: 10px;
  text-align: left;
}
.toplist__tit1 {
  float: left;
  font-weight: 400;
  font-size: 24px;
  margin-right: 15px;
}
.toplist_switch {
  margin-right: 15px;
  font-size: 0;
}
.toplist_switch__data {
  font-size: 14px;
}

.mod_list_menu {
  font-size: 0;
  height: 36px;
}
.mod_songlist {
  font-size: 14px;
  overflow: hidden;
}
.mod_songlist {
  margin-bottom: 60px;
}
.mod_songlist_toolbar .mod_btn {
  min-width: 122px;
  text-align: center;
}
.songlist__header {
  height: 50px;
  line-height: 50px;
  background-color: rgba(0, 0, 0, 0.01);
  color: #999;
}
.songlist__edit {
  display: none;
}
.songlist__header_name,
.songlist__songname {
  float: left;
  width: 47.685185%;
  position: relative;
  white-space: normal;
}
.songlist__header_time,
.songlist__time {
  position: absolute;
  top: 0;
  right: 38px;
  width: 50px;
}

.songlist__header,
.songlist__item {
  padding-left: 122px;
}
.songlist__header,
.songlist__item {
  position: relative;
  padding-left: 122px;
  padding-right: 95px;
}
.songlist__list {
  overflow: hidden;
  clear: both;
}
.songlist__item {
  clear: both;
  font-size: 0;
  overflow: hidden;
  .mod_list_menu {
    pointer-events: none;
  }
  .mod_list_menu {
    position: absolute;
    right: -10px;
    right: -9999px\9;
    top: 50%;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
  }
}
.songlist__item--even {
  background-color: rgba(0, 0, 0, 0.01);
}

.songlist__number {
  position: absolute;
  top: 0;
  left: 10px;
  color: #999;
  width: 36px;
}
.songlist__album,
.songlist__artist,
.songlist__number,
.songlist__other,
.songlist__time {
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}
.songlist__songname {
  overflow: hidden;
  text-overflow: ellipsis;
}
.songlist__icon_exclusive {
  display: inline-block;
  width: 34px;
  height: 16px;
  background-position: -80px -280px;
  vertical-align: middle;
  margin-right: 6px;
}
.songlist__icon_mv {
  display: inline-block;
  width: 33px;
  height: 16px;
  background-position: -40px -280px;
  vertical-align: middle;
  margin-right: 6px;
}
.songlist__item .songlist__icon:nth-child(2) + .songlist__songname_txt {
  max-width: 62%;
  box-sizing: border-box;
}
.songlist__songname_txt {
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 56%;
  margin-right: 8px;
  white-space: nowrap;
  font-size: 14px;
}
.songlist__cover,
.songlist__pic {
  width: 70px;
  height: 70px;
}
.songlist__cover {
  float: left;
  margin-right: 20px;
  margin-top: 5px;
}

.songlist__item--current .mod_list_menu,
.songlist__item:hover .mod_list_menu {
  opacity: 1;
  pointer-events: inherit;
  right: 10px;
  margin-top: -18px;
}

.icon_rank_popular {
  width: 15px;
  height: 15px;
  margin-top: 27px;
  background-position: 0 -60px;
}
.icon_rank_up {
  width: 14px;
  height: 13px;
  margin-top: 28px;
  background-position: 0 0;
}
.icon_rank_down {
  width: 14px;
  height: 13px;
  margin-top: 28px;
  background-position: 0 -15px;
}
.icon_rank_keep {
  width: 14px;
  height: 3px;
  margin-top: 38px;
  background-position: 0 -30px;
}
.icon_rank_new {
  width: 23px;
  height: 8px;
  margin-top: 36px;
  background-position: 0 -40px;
}
.icon_rank_down,
.icon_rank_keep,
.icon_rank_new,
.icon_rank_popular,
.icon_rank_re,
.icon_rank_up {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/icon_rank.png);
}
.icon_txt {
  font: 0/0 a;
}

/*
 *
 *
 *
 * 新碟页面 */
/*下*/
.mod_playlist {
  overflow: hidden;
  font-size: 0;
  .playlist__item_box {
    position: relative;
    margin-right: 20px;
  }
  .playlist__list {
    margin-right: -20px;
  }
  .playlist__item {
    display: inline-block;
    width: 20%;
    padding-bottom: 44px;
    overflow: hidden;
    font-size: 14px;
    vertical-align: top;
  }
  .playlist__item_box {
    position: relative;
    margin-right: 20px;
    text-align: left;
  }
  .playlist__title {
    overflow: hidden;
  }
  .playlist__title_txt {
    float: left;
    max-width: 100%;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 22px;
    max-height: 44px;
  }
  .playlist__cover {
    position: relative;
    display: block;
    overflow: hidden;
    padding-top: 100%;
    margin-bottom: 15px;
  }
  .playlist__pic {
    height: 100%;
    object-fit: cover;
  }
  .playlist__pic {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .playlist__pic {
    transform: scale(1) translateZ(0);
    transition: transform 0.75s;
  }
  .playlist__author,
  .playlist__author a,
  .playlist__other {
    color: #999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 22px;
  }
}

.mod_playlist_text {
  zoom: 1;
  font-size: 14px;
  .playlist__header {
    height: 50px;
    line-height: 50px;
    background-color: #fbfbfd;
    color: #999;
  }
  .playlist__header_name {
    width: 57%;
  }
  .playlist__author,
  .playlist__header_author,
  .playlist__header_name,
  .playlist__header_number,
  .playlist__number {
    float: left;
    padding-left: 20px;
  }
  .playlist__author,
  .playlist__number,
  .playlist__other,
  .playlist__title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
  }
  .playlist__author,
  .playlist__count,
  .playlist__number,
  .playlist__title {
    float: left;
    height: 70px;
  }
  .playlist__author,
  .playlist__number,
  .playlist__other,
  .playlist__title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
  }
  .playlist__author,
  .playlist__header_author {
    width: 30%;
  }
  .playlist__header_other,
  .playlist__other {
    width: 7.5%;
    float: right;
    padding-right: 20px;
    text-align: right;
  }
  .playlist__item {
    position: relative;
    height: 70px;
    line-height: 70px;
    zoom: 1;
    overflow: hidden;
    clear: both;
    font-size: 0;
  }
  .playlist__cover {
    float: left;
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin-top: 10px;
    padding-left: 20px;
  }
  .playlist__pic {
    object-fit: cover;
    height: 100%;
    display: block;
    width: 100%;
    min-height: 50px;
  }
  .playlist__title {
    width: 52.66667%;
    font-weight: 400;
    text-indent: 15px;
    overflow: hidden;
  }
  .playlist__title_txt {
    float: left;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .mod_list_menu {
    position: absolute;
    left: 44%;
    left: -9999px\9;
    top: 19px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
  }
  .playlist__item--current .mod_list_menu,
  .playlist__item--hover .mod_list_menu {
    opacity: 1;
    left: 44%;
    pointer-events: inherit;
  }
}

.mod_lyric_list,
.mod_mv_list,
.mod_playlist_text,
.mod_songlist {
  padding-bottom: 40px;
}

.mod_playlist .playlist__cover:hover .playlist__pic {
  transform: scale(1.07) translateZ(0);
  transition: transform 0.75s cubic-bezier(0, 1, 0.75, 1);
}
.mod_cover__icon_play {
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -35px;
  width: 70px;
  height: 70px;
  opacity: 0;
  transform: scale(0.7) translateZ(0);
  transition-property: opacity, transform;
  transition-duration: 0.5s;
  zoom: 1;
}
.mod_cover:hover .mod_cover__icon_play,
.mod_cover__icon_play {
  background-image: url(../img/cover_play.png);
}
.mod_cover:hover .mod_cover__icon_play {
  opacity: 1;
  filter: none;
}
img .playlist__pic {
  display: block;
  visibility: visible;
  width: 250px;
}

/*
 *
 *
 *
 *
 * */
.mod_data {
  position: relative;
  height: 250px;
  padding-left: 305px;
  margin-top: 40px;
  margin-bottom: 35px;
}
.data__cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 250px;
  height: 250px;
}
.data__cont {
  padding-top: 13px;
}
.data__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.data__name_txt {
  float: left;
  font-size: 31px;
  line-height: 50px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 70%;
  margin-right: 10px;
}
.data__name {
  overflow: hidden;
  height: 50px;
  line-height: 50px;
}
.icon_singer {
  float: left;
  width: 16px;
  height: 16px;
  background-position: -20px -240px;
  margin: 5px 7px 0 0;
}
.data__singer_txt {
  font-size: 16px;
  color: #333;
}
.data__info {
  width: 450px;
  overflow: hidden;
  padding-top: 8px;
}
.data_info__item {
  float: left;
  line-height: 27px;
  width: 200px;
  margin-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}
.data_info__item--even {
  width: 250px;
}
.data__actions {
  position: absolute;
  bottom: 23px;
  font-size: 0;
  .mod_btn,
  .mod_btn_green {
    min-width: 122px;
    text-align: center;
    padding: 0 18px;
    font-family: 微软雅黑;
  }
}

.detail_layout {
  padding-right: 343px;
}
.detail_layout__main {
  float: left;
  width: 100%;
  padding-bottom: 20px;
}

.detail_layout__other {
  float: right;
  position: relative;
  width: 290px;
  margin-right: -343px;
  padding-bottom: 20px;
  .playlist__item {
    width: 33.333333%;
    padding-bottom: 14px;
  }
  .mv_list__item_box {
    margin-right: 0;
  }
  .mv_list__cover,
  .playlist__cover {
    margin-bottom: 4px;
  }
  .playlist__cover:hover .playlist__pic,
  .playlist__pic {
    -webkit-transform: none;
    -webkit-transition: none;
    transform: none;
    transition: none;
  }
  .mv_list__singer,
  .mv_list__title,
  .playlist__title,
  .playlist__title_txt {
    line-height: 1.5;
    margin-bottom: 0;
  }
}
.other_part {
  overflow: hidden;
  margin-bottom: 10px;
}
.other_part__tit {
  font-size: 20px;
  font-weight: 400;
  line-height: 46px;
}
.data__cover_mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  height: 266px;
  background: url(https://y.gtimg.cn/mediastyle/yqq/img/album_cover.png?max_age=2592000&v=38b0c07edbf02967081562b016d3ef14)
    0 0 no-repeat;
  pointer-events: none;
}
.mod_mv_list {
  overflow: hidden;
}

.mod_popup_tips {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 37px 46px 25px;
  line-height: 22px;
  border-radius: 3px;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#B2000000', endColorstr='#B2000000');
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
  text-align: center;
}
.popup__icon_close,
.popup__icon_close.sprite,
.popup__icon_tips,
.popup__icon_tips.sprite,
.popup_download__icon,
.popup_download__icon.sprite,
.popup_tips__icon,
.popup_tips__icon.sprite {
  background-image: url(../img/icon_popup.png);
}
.popup_tips__icon {
  display: block;
  width: 46px;
  height: 46px;
  background-position: 0 -150px;
  margin: 0 auto 16px;
}
.popup_tips__tit {
  font-size: 14px;
  color: $white;
  font-weight: 400;
}

/* 弹出分类框 */
.popup_tag {
  position: absolute;
  top: 175px;
  left: 0;
  right: 24px;
  border: 1px solid #bfbfbf;
  background-color: #fff;
  padding: 19px 0 15px;
  z-index: 4;
}
.popup_tag {
  box-shadow: 0 0 10px rgba(183, 183, 183, 0.65);
  border: 0 none;
  .playlist_tag__tags {
    margin-left: 16px;
    line-height: 26px;
  }
  .playlist_tag__itembox {
    width: auto;
    margin-right: 32px;
  }
}

/*
 *
 *
 *
 * songer page */
.data__desc {
  font-size: 14px;
  height: 50px;
  line-height: 50px;
  margin-bottom: 4px;
}
.data__desc_txt {
  float: left;
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 2px;
}
.mod_data_statistic {
  height: 23px;
  line-height: 23px;
  overflow: hidden;
  font-size: 0;
}
.data_statistic__number {
  font-size: 25px;
  font-weight: 400;
  margin-left: 10px;
}

.icon_part_arrow {
  display: inline-block;
  width: 7px;
  height: 12px;
  background-position: -120px -40px;
  margin-left: 6px;
  vertical-align: -1px;
}
.songlist__song_txt,
.songlist__time {
  color: #999;
}
.songlist__song_txt {
  margin-left: 10px;
}

.singer_list__item {
  position: relative;
  height: 80px;
  display: table;
  width: 100%;
  .singer_list__title {
    width: 40%;
    min-width: 280px;
    font-weight: 400;
    text-indent: 20px;
    overflow: hidden;
    line-height: 80px;
    padding-left: 20px;
    font-size: 0;
  }
  .singer_list__pic {
    height: 100%;
    object-fit: cover;
    display: block;
    width: 100%;
    min-height: 50px;
    border-radius: 50%;
  }
  .singer_list__cover {
    position: relative;
    float: left;
    width: 60px;
    height: 60px;
    margin-top: 10px;
  }
}
.singer_list__cover {
  margin-left: auto;
  margin-right: auto;
}
.singer_list__item_box {
  position: relative;
  margin-right: 20px;
  background-color: #fbfbfd;
  min-height: 195px;
  padding: 25px 0;
  overflow: hidden;
  .singer_list__title {
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    zoom: 1;
    *width: 100%;
    margin: 20px 30px 4px;
    min-width: 0;
    padding-left: 5px;
  }
}
.singer_list__user_txt {
  color: #999;
}

/* 搜索用户界面 */
.singer_list__title_txt {
  float: left;
  max-width: 310px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}
.singer_list__count,
.singer_list__other,
.singer_list__playlist,
.singer_list__title {
  display: table-cell;
  height: 80px;
  vertical-align: middle;
  box-sizing: border-box;
}
.singer_list__playlist,
.singer_list__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}
.singer_list__playlist {
  width: 22%;
  padding-left: 20px;
}
.singer_list__count {
  width: 22%;
  padding-left: 15px;
}
.singer_list__other {
  width: 122px;
}
.singer_list__btn_focus {
  display: block;
  width: 122px;
  text-align: center;
  margin-right: 20px;
}

/* **************
 * 歌手列表 css */
.singer_list_txt {
  margin-right: -20px;
  overflow: hidden;
  margin-bottom: 60px;
}

.singer_list_txt__item {
  float: left;
  width: 20%;
}

.singer_list_txt__link {
  float: left;
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 36px;
}

/*
 *
 *
 *
 * pop detail */
.popup_data_detail {
  position: absolute;
  top: 364px;
  right: 303px;
  width: 580px;
  background: $white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
  border-radius: 4px;
  border: 1px solid #ddd;
  z-index: 99;
}
.popup_data_detail__cont {
  max-height: 400px;
  font-size: 14px;
  line-height: 22px;
  margin: 30px 5px 30px 10px;
  overflow-y: auto;
}
.popup_data_detail__cont p,
.popup_data_detail__tit {
  margin: 0 24px 0 19px;
}
.popup_data_detail__tit {
  line-height: 22px;
  font-size: 20px;
  font-weight: 400;
  padding: 0 0 20px;
}

/*commont*/
.comment__input {
  position: relative;
  padding-bottom: 60px;
}
.comment__textarea {
  position: relative;
  overflow: hidden;
  height: 102px;
  border: solid 1px #ececec;
  background-color: #f5f5f5;
}
.comment__textarea_inner {
  margin: 10px 14px 0 14px;
}
.comment__tips {
  position: absolute;
  bottom: 3px;
  right: 14px;
  text-align: right;
}
.comment__face {
  position: absolute;
  right: 90px;
  bottom: 14px;
}
.comment__tool {
  position: absolute;
  bottom: 10px;
  right: -5px;
  a {
    margin-right: 5px;
  }
}
.comment__tool_btn {
  width: 80px;
  line-height: 27px;
  height: 27px;
  text-align: center;
  padding: 0;
}
.mod_all_comment {
  margin-bottom: 46px;
}
.comment_type__title {
  position: relative;
  height: 34px;
  line-height: 34px;
  padding-bottom: 10px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #ededed;
  h2 {
    font-weight: 400;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.comment__list {
  padding-bottom: 14px;
}
.comment__list_item {
  position: relative;
  padding: 15px 0 15px 56px;
  zoom: 1;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #ededed;
}
.comment__avatar {
  position: absolute;
  left: 0;
  top: 20px;
  width: 38px;
  height: 38px;
  img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 999px;
  }
}
.comment__title {
  font-weight: 400;
  margin-bottom: 6px;
  overflow: hidden;
  height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  a,
  span {
    float: left;
  }
}
.comment__text {
  overflow: hidden;
  word-break: break-all;
  word-wrap: break-word;
  line-height: 24px;
  text-align: justify;
}
.comment__text--history {
  margin: 5px 0 4px 12px;
  padding: 0 0 0 10px;
  border-left-width: 1px;
  border-left-style: solid;
}
.comment__opt {
  line-height: 24px;
  text-align: right;
  overflow: hidden;
}
.comment__date {
  float: left;
  line-height: 28px;
}
.comment__delete,
.comment__good,
.comment__link,
.comment__report,
.comment__zan {
  margin-right: 22px;
}
.comment__zan {
  vertical-align: -1px;
}

.icon_comment {
  background-image: url(../img/comment.png);
  background-repeat: no-repeat;
}
.icon_comment_face {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: 0 0;
  vertical-align: -1px;
}
.icon_comment_like {
  background-position: -25px -25px;
}
.icon_comment_like,
.icon_comment_liked {
  display: inline-block;
  margin-right: 5px;
  width: 17px;
  height: 17px;
  overflow: hidden;
  vertical-align: -3px;
}
.icon_comment_feedback {
  display: inline-block;
  width: 17px;
  height: 17px;
  background-position: -25px -50px;
  font-size: 0;
  vertical-align: middle;
}

/*text*/
.c_tx_current,
.c_tx_highlight {
  color: $green;
}
.c_tx_normal {
  color: #333;
}
.c_tx_thin {
  color: #999;
}
